<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nextLevelPoints</key>
		<string>1</string>
		<key>pointsByClick</key>
		<string>1</string>
	</dict>
	<dict>
		<key>nextLevelPoints</key>
		<string>12</string>
		<key>pointsByClick</key>
		<string>2</string>
	</dict>
	<dict>
		<key>nextLevelPoints</key>
		<string>30</string>
		<key>pointsByClick</key>
		<string>5</string>
	</dict>
	<dict>
		<key>nextLevelPoints</key>
		<string>70</string>
		<key>pointsByClick</key>
		<string>7</string>
	</dict>
	<dict>
		<key>nextLevelPoints</key>
		<string>150</string>
		<key>pointsByClick</key>
		<string>10</string>
	</dict>
	<dict>
		<key>nextLevelPoints</key>
		<string>250</string>
		<key>pointsByClick</key>
		<string>12</string>
	</dict>
	<dict>
		<key>nextLevelPoints</key>
		<string>350</string>
		<key>pointsByClick</key>
		<string>15</string>
	</dict>
	<dict>
		<key>nextLevelPoints</key>
		<string>500</string>
		<key>pointsByClick</key>
		<string>20</string>
	</dict>
	<dict>
		<key>nextLevelPoints</key>
		<string>700</string>
		<key>pointsByClick</key>
		<string>24</string>
	</dict>
	<dict>
		<key>nextLevelPoints</key>
		<string>1000</string>
		<key>pointsByClick</key>
		<string>27</string>
	</dict>
	<dict>
		<key>nextLevelPoints</key>
		<string>1500</string>
		<key>pointsByClick</key>
		<string>31</string>
	</dict>
	<dict>
		<key>nextLevelPoints</key>
		<string>2300</string>
		<key>pointsByClick</key>
		<string>32</string>
	</dict>
	<dict>
		<key>nextLevelPoints</key>
		<string>3000</string>
		<key>pointsByClick</key>
		<string>35</string>
	</dict>
</array>
</plist>
